@font-face {
    font-family: "Padauk";
    src: url("./Padauk-Regular.ttf");  format('ttf');
}

.font {
  font-family: "Padauk";
  letter-spacing: -0.1em;
}

@font-face {
    font-family: "Yumin";
    src: url("./yumin.ttf");  format('ttf');
}

h2 {
  font-size:20px;
  color: #ebf6f7;
}
h3 {
  font-size:12px;
  color: #ebf6f7;
}
body {
  margin: 0;
  padding: 0;
  font-size:15px;
  color: #ebf6f7;
  background-color: #478384;
  font-family: serif;
  line-height: 50%;
}
.header {
  margin: 5em 0 5em 0;
  text-align: center;
}
.search {
  margin:1em;
  text-align: right;
}
.box {
  padding: 0.5em 1em;
  margin: 0.5em;
  color: #ebf6f7;
  background: #2c4f54;
  border: solid 3px #ebf6f7;
  border-radius: 10px;
}
p.box {
  margin: -2em 0 -5em 0;
}
.title {
  float: left;
  margin:0 1em 0 0;
  font-family: "Padauk";
}
p.meaning {
  font-family: "Yumin";
}
h3.caption　{
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
.show-btn {
  border: 0;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 12px;
    text-align: center;
    color: #ebf6f7;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #007bbb;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.show-btn:hover {
    background-color: #2ca9e1;
}

.show-btn:active {
    box-shadow: inset -2px -2px 3px #ebf6f7, inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
